form {
	margin-bottom: 0;
}

.todo-app {
	max-width: 800px;
}

.list-group-item {
	min-height: 50px;
}

.list-group-item .btn-group {
	display: none;
}

.list-group-item:hover .btn-group {
	display: inline-flex;
}

.done {
	text-decoration: line-through;
	opacity: 0.5;
}

.main-link {
	color: #000;
	text-decoration: none;
}